.footer {
  padding-right: $sidesPaddingMargin;
  padding-left: $sidesPaddingMargin;
  grid-area: footer;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(
    to left,
    map-get($colors, color2),
    map-get($colors, color1)
  );
  display: flex;
}

.footer__ul {
  margin-top: 50px;
  display: flex;
  list-style: none;
}

.itemsFooter {
  margin: 5px;
}

.photosFooter {
  width: 50%;
  height: auto;
}

.footer__copyright {
  width: 75%;
}

.footer__copyright--styles {
  padding-top: 60px;
  color: map-get($colors, color3);
  font-size: 22px;
  text-align: end;
  padding-right: 10px;
}
